
/doc/tex/pinneddown.tex.backup
/doc/tex/pinneddown.tex~
/doc/tex/pinneddown.toc
/doc/tex/pinneddown.aux
/doc/tex/pinneddown.glo
/doc/tex/pinneddown.ist
/doc/tex/pinneddown.lof
/doc/tex/pinneddown.log
/doc/tex/pinneddown.lot
/doc/tex/pinneddown.out
/src/PinnedDownCardListEditor/PinnedDownCardListEditor/bin/Debug
/src/PinnedDownCardListEditor/PinnedDownCardListEditor/obj
/src/PinnedDownModel/PinnedDownModel/bin/Debug
/src/PinnedDownModel/PinnedDownModel/obj
/src/PinnedDownCardListEditor/PinnedDownCardListEditor/bin/Release/PinnedDownCardListEditor.vshost.exe
/src/PinnedDownCardListEditor/PinnedDownCardListEditor/bin/Release/PinnedDownCardListEditor.vshost.exe.manifest
/src/PinnedDownDeckEditor/PinnedDownDeckEditor/bin/Debug
/src/PinnedDownDeckEditor/PinnedDownDeckEditor/obj
/src/PinnedDownDeckEditor/PinnedDownDeckEditor/bin/Release/PinnedDownDeckEditor.pdb
/src/PinnedDownDeckEditor/PinnedDownDeckEditor/bin/Release/PinnedDownDeckEditor.vshost.exe
/src/PinnedDownDeckEditor/PinnedDownDeckEditor/bin/Release/PinnedDownDeckEditor.vshost.exe.manifest
/src/PinnedDownDeckEditor/PinnedDownDeckEditor/bin/Release/PinnedDownModel.pdb